.company {
  background-image: url('../pages/public/assets/company1.jpeg');
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {                    
  margin-right: auto;
  margin-left: auto;
  margin-top: 350px;
  width: 50rem;
  height: 45rem;
  border-radius: 10px;
  backdrop-filter: blur(14px);
  background-color: rgba(255, 255, 255, 0.2);
}

.card h3 {
  color: black;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding-top: 30px;
}

.card p {
  color: black;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  line-height: 2.5rem;
}