.contact {
  background-image: url('../pages/public/assets/contact.jpeg');
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {    
  display: block;
  text-align: center;
  margin-top: 500px;
}

.card h3 {
  font-size: 3rem;
  color: cornsilk;
}

.card h4 {
  font-size: 1.5rem;
  color: cornsilk;
  font-weight: 300;
}

.card span {
  color: rgba(255, 248, 220, 0.516);
  font-weight: 800;
}


@media screen and (max-width: 500px) {
  .card {    
    margin-top: 300px;
  }

  .card h3 {
  font-size: 1.5rem
  }

  .card h4 {
    font-size: 1rem;
  }
  
  }